<header class="header">
  <div class="container">
    <div class="header__content flex jcsb centerV">
      <div class="header__part">
        <a href="/" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="" />
        </a>
        <button class="header__navctrl">Menu</button>
      </div>
      <div class="header__part">
        <nav class="header__list">
          <ul>
            <li>
              <a href="/first.html">First Ladies and Gentlemen</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/events.html">Events</a>
              <ul class="sub-menu">
                <li>
                  <a href="#"> All events </a>
                </li>
                <li>
                  <a href="#"> Calendar </a>
                </li>
                <li>
                  <a href="#"> Summit 2021 </a>
                </li>
                <li>
                  <a href="#"> Summit 2022 </a>
                </li>
                <li>
                  <a href="#"> Summit 2023 </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/gallery.html">Gallery</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/about.html">About Us</a>
              <ul class="sub-menu">
                <li>
                  <a href="#"> What do we do </a>
                </li>
                <li>
                  <a href="#"> History page </a>
                </li>
                <li>
                  <a href="#"> Media about us </a>
                </li>
                <li>
                  <a href="#"> Contacts </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/news.html">News</a>
            </li>
            <li>
              <a href="/blog.html">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__part">
        <nav class="header__lang header__list">
          <ul>
            <li class="menu-item-has-children">
              <a href="#pll_switcher">Ukr</a>
              <ul class="sub-menu">
                <li>
                  <a href="#">Eng</a>
                </li>
                <li>
                  <a href="#">Esp</a>
                </li>
                <li>
                  <a href="#">De</a>
                </li>
                <li>
                  <a href="#">Fr</a>
                </li>
                <li>
                  <a href="#">العربية</a>
                </li>
                <li>
                  <a href="#">Tur</a>
                </li>
                <li>
                  <a href="#">Pt</a>
                </li>
                <li>
                  <a href="#">It</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <a href="#" class="header__sbtn">
            Search
        </a>
      </div>
    </div>
  </div>
</header>


<load src="./navigatiom.html" />