<li class="bigevent">
  <div class="bigevent__img">
    <a href="/event.html" class="bigevent__imginner">
      <img src="./img/content/gal_7.jpg" alt="" class="cover" />
    </a>
  </div>
  <div class="bigevent__inform">
    <div class="bigevent__top">
      <ul class="newsitem__tags flex">
        <li>Lorem ipsum</li>
        <li class="date">04.04.2024</li>
      </ul>
      <a href="/event.html" class="bigevent__name">
        2024 the summit of first ladiesand gentlemen global platform
      </a>
      <div class="bigevent__desc">
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
        </p>
      </div>
    </div>
    <a href="/event.html" class="button sec">
      <span><span>Learn More</span><span>Learn More</span></span>
    </a>
  </div>
</li>
