<li class="blogitem splide__slide">
  <div class="blogitem__top">
    <a href="article.html" class="blogitem__img">
      <img src="./img/content/blogitem.jpg" alt="" class="cover" />
    </a>
    <div class="blogitem__inform">
      <a href="article.html" class="blogitem__name">
        Duis aute irure dolor in repreh enderit in voluptate dolor sit amet
      </a>
      <div class="blogitem__desc">
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident...
        </p>
      </div>
    </div>
  </div>
  <a href="/author.html" class="blogitem__author">
    <span class="bi__avatarcont">
      <span class="bi__avatar"
        ><img src="./img/content/author_sm.jpg" alt="" class="cover"
      /></span>
      <span class="bi__flag"
        ><img src="./img/icons/ua.png" alt="" class="cover"
      /></span>
    </span>
    <span class="biauthor__info">
        <span>Olena Zelenska</span>
        <span>Ukraine</span>
    </span>
  </a>
</li>
