<li class="ledies">
    <div class="ledies__top">
        <h4 class="ledies__name">
            <a href="./ledies.html?country=costa_rica#countries">Olena Zelenska</a>
        </h4>
        <p>
            First Lady of Ukraine, Founder of the Summit
        </p>
    </div>
    <a href="./ledies.html?country=costa_rica#countries" class="ledies__img">
        <img src="./img/content/ledy.jpg" alt="" class="cover">
        <span class="ledies__country">
            <span class="flag"><img src="./img/icons/ua.png" alt="" class="cover"></span>
            <span>Ukraine</span>
        </span>
    </a>
</li>