<li class="ledies">
    <div class="ledies__top">
        <h4 class="ledies__name">
            Olena Zelenska
        </h4>
        <p>
            First Lady of Ukraine, Founder of the Summit
        </p>
    </div>
    <div class="ledies__img">
        <img src="./img/content/ledy.jpg" alt="" class="cover">
        <div class="ledies__country">
            <div class="flag"><img src="./img/icons/ua.png" alt="" class="cover"></div>
            <span>Ukraine</span>
        </div>
    </div>
</li>