<li class="madia__item splide__slide">
    <div class="media__top">
        <div class="media__heading flex jcsb">
            <a href="#" target="_blank" class="media__name">
                Duis aute irure dolor in repreh enderit in voluptate, ut enim ad minim veniam
            </a>
            <a href="#" target="_blank" class="media__res">
                <img src="./img/content/media.svg" alt="" class="contain">
            </a>
        </div>
        <div class="media__date">
            04.04.2024
        </div>
    </div>
    <div class="newsitem__bottom">
        <a target="_blank" href="#">Learn more</a>
    </div>
</li>