<li class="newsitem splide__slide">
  <a href="./newsitem.html" class="newsitem__img">
    <img src="../../img/content/newsitem.jpg" alt="" class="cover" />
  </a>
  <div class="newsitem__info">
    <ul class="newsitem__tags flex">
      <li>Lorem ipsum</li>
      <li>Dolor</li>
      <li class="date">04.04.2024</li>
    </ul>
    <a href="./newsitem.html" class="newsitem__name">
      Duis aute irure dolor in repreh enderit in voluptate
    </a>
    <div class="newsitem__desc">
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint...
        </p>
    </div>
  </div>
  <div class="newsitem__bottom flex">
    <a href="./newsitem.html">Continue reading</a>
  </div>
</li>
