<li class="newsitem studyitem splide__slide">
  <a href="./newspage.html" class="newsitem__img">
    <img src="./img/content/newsitem.jpg" alt="" class="cover" />
  </a>
  <div class="newsitem__info">
    <div class="stydytop">
      <ul class="newsitem__tags flex">
        <li>Дослідження</li>
        <li class="date">04.04.2024</li>
      </ul>
      <a href="./newspage.html" class="newsitem__name">
        Duis aute irure dolor in repreh enderit in voluptate
      </a>
      <div class="newsitem__desc">
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint...
        </p>
      </div>
    </div>
    <div class="studyiyem__bottom flex">
      <a class="button sec" href="./newspage.html"><span>Детальніше</span></a>
    </div>
  </div>
</li>
