body {
	/* Colors */
	--cm: #1F2129; /* Text */
	--ct: #5F667E; /* Heading */
	--ct2: #4E5468; /* Heading */
	--cl: #9298AD; /* Light */
	--cw: #FFF; /* White */
	--cbor: #EEF0F7; /* Border */
	--cb: #7890FF; /* Blue */
	--cb2: #D3DBFF; /* Blue 2 */
	--cp: #C38FFF; /* Purple */
	--cp2: #F1E4FF; /* Purple 2 */
	--cg: #CED3E0; /* Gray */
	--cbg: #F7F9FF; /* BG */
 
	/* Fonts */
	--ff: "IBM Plex Sans", sans-serif;

	/* Gradients */
	--grfade: linear-gradient(180deg, rgba(31, 33, 41, 0.00) 0%, rgba(31, 33, 41, 0.80) 100%);
	--grfade2: linear-gradient(180deg, rgba(31, 33, 41, 0.00) 0%, rgba(31, 33, 41, 0.48) 100%);
	--grdh:linear-gradient(258deg, #C38FFF -0.94%, #7890FF 100%);

	/* Shadow */
	--s1: 0 .125rem 1.5rem 0 rgba(0, 0, 0, 0.12);
	--sbtn: 0px .75rem 0.188rem 0px rgba(0, 0, 0, 0.00), 0px .5rem 0.188rem 0px rgba(0, 0, 0, 0.01), 0px .25rem 0.188rem 0px rgba(0, 0, 0, 0.05), 0px .125rem .125rem 0px rgba(0, 0, 0, 0.09), 0px 0px 0.063rem 0px rgba(0, 0, 0, 0.10);
}