<section id="countries" class="section__cointry">
  <div class="container">
    <div class="country__filtercont filteredCont">
      <button class="clearfilter clearBtn" disabled>
        <span>Clear all filters</span>
      </button>
      <button class="openFilter toggleFilter">
        <span>Filter</span>
      </button>
      <button class="filter__sortctrl countrySort"></button>
      <ul class="country__activefilters"></ul>
    </div>
    <div class="clearfix"></div>
    <div class="country__main flex">
      <div class="country__left">
        <div class="country__filtermob">
          <button class="clearfilter clearBtn" disabled>
            <span>Clear all filters</span>
          </button>
          <button class="clearfilter apply toggleFilter">
            <span>Apply</span>
          </button>
        </div>
        <ul class="country__activefilters mobCountriesList hidden filteredCont"></ul>
        <div class="country__filterrirle">Country</div>
        <form class="country__search">
          <input type="text" id="searchcountry" name="searchcountry" placeholder="Search" />
        </form>
        <form class="countries__list">
          <label data-country="Costa Rica" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/ua.svg" alt="" class="cover"
              /></span>
              <span>Costa Rica</span>
            </span>
            <input type="checkbox" name="country" value="Costa Rica" />
            <span class="country__check"></span>
          </label>
          <label data-country="Australia" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_1.png" alt="" class="cover"
              /></span>
              <span>Australia</span>
            </span>
            <input type="checkbox" name="country" value="Australia" />
            <span class="country__check"></span>
          </label>
          <label data-country="Austria" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_2.png" alt="" class="cover"
              /></span>
              <span>Austria</span>
            </span>
            <input type="checkbox" name="country" value="Austria" />
            <span class="country__check"></span>
          </label>
          <label data-country="Italy" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_3.png" alt="" class="cover"
              /></span>
              <span>Italy</span>
            </span>
            <input type="checkbox" name="country" value="Italy" />
            <span class="country__check"></span>
          </label>
          <label data-country="Norway" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_4.png" alt="" class="cover"
              /></span>
              <span>Norway</span>
            </span>
            <input type="checkbox" name="country" value="Norway" />
            <span class="country__check"></span>
          </label>
          <label data-country="Spain" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_5.png" alt="" class="cover"
              /></span>
              <span>Spain</span>
            </span>
            <input type="checkbox" name="country" value="Spain" />
            <span class="country__check"></span>
          </label>
          <label data-country="United Kingdom" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_6.png" alt="" class="cover"
              /></span>
              <span>United Kingdom</span>
            </span>
            <input type="checkbox" name="country" value="United Kingdom" />
            <span class="country__check"></span>
          </label>
          <label data-country="Costa Rica" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/ua.svg" alt="" class="cover"
              /></span>
              <span>Costa Rica</span>
            </span>
            <input type="checkbox" name="country" value="Costa Rica" />
            <span class="country__check"></span>
          </label>
          <label data-country="Australia" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_1.png" alt="" class="cover"
              /></span>
              <span>Australia</span>
            </span>
            <input type="checkbox" name="country" value="Australia" />
            <span class="country__check"></span>
          </label>
          <label data-country="Austria" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_2.png" alt="" class="cover"
              /></span>
              <span>Austria</span>
            </span>
            <input type="checkbox" name="country" value="Austria" />
            <span class="country__check"></span>
          </label>
          <label data-country="Italy" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_3.png" alt="" class="cover"
              /></span>
              <span>Italy</span>
            </span>
            <input type="checkbox" name="country" value="Italy" />
            <span class="country__check"></span>
          </label>
          <label data-country="Norway" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_4.png" alt="" class="cover"
              /></span>
              <span>Norway</span>
            </span>
            <input type="checkbox" name="country" value="Norway" />
            <span class="country__check"></span>
          </label>
          <label data-country="Spain" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_5.png" alt="" class="cover"
              /></span>
              <span>Spain</span>
            </span>
            <input type="checkbox" name="country" value="Spain" />
            <span class="country__check"></span>
          </label>
          <label data-country="United Kingdom" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_6.png" alt="" class="cover"
              /></span>
              <span>United Kingdom</span>
            </span>
            <input type="checkbox" name="country" value="United Kingdom" />
            <span class="country__check"></span>
          </label>
          <label data-country="Costa Rica" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/ua.svg" alt="" class="cover"
              /></span>
              <span>Costa Rica</span>
            </span>
            <input type="checkbox" name="country" value="Costa Rica" />
            <span class="country__check"></span>
          </label>
          <label data-country="Australia" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_1.png" alt="" class="cover"
              /></span>
              <span>Australia</span>
            </span>
            <input type="checkbox" name="country" value="Australia" />
            <span class="country__check"></span>
          </label>
          <label data-country="Austria" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_2.png" alt="" class="cover"
              /></span>
              <span>Austria</span>
            </span>
            <input type="checkbox" name="country" value="Austria" />
            <span class="country__check"></span>
          </label>
          <label data-country="Italy" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_3.png" alt="" class="cover"
              /></span>
              <span>Italy</span>
            </span>
            <input type="checkbox" name="country" value="Italy" />
            <span class="country__check"></span>
          </label>
          <label data-country="Norway" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_4.png" alt="" class="cover"
              /></span>
              <span>Norway</span>
            </span>
            <input type="checkbox" name="country" value="Norway" />
            <span class="country__check"></span>
          </label>
          <label data-country="Spain" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_5.png" alt="" class="cover"
              /></span>
              <span>Spain</span>
            </span>
            <input type="checkbox" name="country" value="Spain" />
            <span class="country__check"></span>
          </label>
          <label data-country="United Kingdom" class="countries__item flex">
            <span class="countries__name">
              <span class="flag"
                ><img src="./img/content/flag_6.png" alt="" class="cover"
              /></span>
              <span>United Kingdom</span>
            </span>
            <input type="checkbox" name="country" value="United Kingdom" />
            <span class="country__check"></span>
          </label>
        </form>
      </div>
      <div class="country__right">
        <ul class="country__acc">
          <li data-country="Ukraine" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Ukraine</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/ledy.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/ledy.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="splide__arrows">
                    <button
                      class="splide__arrow splide__arrow--prev"
                      type="button"
                      aria-label="Previous slide"
                      aria-controls="splide01-track"
                    ></button>
                    <button
                      class="splide__arrow splide__arrow--next"
                      type="button"
                      aria-label="Next slide"
                      aria-controls="splide01-track"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Australia" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Australia</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Austria" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Austria</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Costa Rica" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Costa Rica</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Italy" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Italy</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Norway" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Norway</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Spain" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">Spain</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="United Kingdom" class="countryItemAcc ac st visible">
            <div class="ac-header">
              <div class="ac-trigger">United Kingdom</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Latvia" class="countryItemAcc ac visible">
            <div class="ac-header">
              <div class="ac-trigger">Latvia</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li data-country="Lithuania" class="countryItemAcc ac visible">
            <div class="ac-header">
              <div class="ac-trigger">Lithuania</div>
            </div>
            <div class="ac-panel">
              <div class="ac-text">
                <div class="country__carousell splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="country__slide splide__slide">
                        <div class="country__img">
                          <div class="country__imginner">
                            <img
                              src="./img/content/team_1.jpg"
                              class="cover"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="cpuntry__info">
                          <div class="country__infotop">
                            <h3>Olena Zelenska</h3>
                            <b>First Lady of Ukraine, Founder of the Summit</b>
                            <div class="country__desc">
                              <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt.
                              </p>
                            </div>
                          </div>
                          <div class="country__infobot">
                            <a
                              href="websiteexample.com"
                              target="_blank"
                              class="country__site"
                            >
                              websiteexample.com
                            </a>
                            <ul class="country__soc flex">
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/instagram.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/facebook.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#" target="_blank">
                                  <img
                                    src="./img/icons/yt.svg"
                                    alt=""
                                    class="contain"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" data-st="Show More" data-ed="Hide" class="button sec countries__more visibleBtn">
          <span><span>Show More</span><span>Show More</span></span>
        </a>
      </div>
    </div>
  </div>
</section>
