<section class="section__media nom">
  <div class="container">
    <div class="page__heading">
      <h1>Duis aute irure dolor in reprehenderit in voluptate</h1>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="section__heading">
      <h2>Latest articles</h2>
      <div class="filtercont flex">
        <div class="filter__item filter__sort">
          <button class="filter__sortctrl"></button>
          <div class="facetwp-facet facetwp-type-sort" data-type="sort">
            <select>
              <option value="">Сортування</option>
              <option value="_">Спочатку останні</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="section__content">
      <ul class="media__list">
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
        <load src="../general/media.html" />
      </ul>
      <div class="pagination__cont">
        <div class="custom-pagination" data-name="pagination" data-type="pager">
          <div class="custom-pager">
            <a class="custom-page prev" data-page="1">&lt;</a
            ><a class="custom-page first" data-page="1">1</a
            ><a class="custom-page active" data-page="2">2</a
            ><a class="custom-page" data-page="3">3</a
            ><a class="custom-page dots">…</a
            ><a class="custom-page last" data-page="12">12</a
            ><a class="custom-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
