.contact__container {
    gap: 1rem;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.contact__left {
    width: 100%;
}

.contact__desc {
    margin-top: 2rem;
    max-width: 54.25rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    color: #353a4a;
}

.socials {
    margin-top: 4rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;

    li {
        a {
            width: 4rem;
            height: 4rem;
            border: 1px solid var(--cg);
            border-radius: 50%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            transition: 0.3s;
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: var(--grdh);
                opacity: 0;
                transition: 0.3s;
            }

            img {
                width: 2rem;
                height: auto;
                transition: 0.3s;
                position: relative;
                z-index: 2;
            }

            &:hover {
                border-color: transparent;
                background-color: var(--cb);
                box-shadow: var(--s1);

                &::after {
                    opacity: 1;
                }

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.contact__right {
    min-width: 21rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--cbg);
}

.contact__list {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    li {
        a {
            padding: 0.75rem 1rem;
            gap: 0.5rem;
            border-radius: 2rem;
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 500;
            border: 1px solid var(--cm);
            color: var(--cm);
            display: flex;
            align-items: center;
            align-content: center;
            white-space: nowrap;
            transition: 0.3s;

            &.copy {
                span {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            &.copied {
                background-color: var(--cb);
                color: var(--cw);
                border-color: var(--cw);

                span {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }

                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70005 18L1.05005 12.35L2.47505 10.95L6.72505 15.2L8.12505 16.6L6.70005 18ZM12.35 18L6.70005 12.35L8.10005 10.925L12.35 15.175L21.55 5.97498L22.95 7.39998L12.35 18ZM12.35 12.35L10.925 10.95L15.875 5.99998L17.3 7.39998L12.35 12.35Z' fill='white'/%3E%3C/svg%3E%0A");
                    transition: 0.3s;
                }
            }

            &:hover {
                border-color: var(--cg);
                box-shadow: var(--s1);
            }

            &::before {
                width: 1.5rem;
                min-width: 1.5rem;
                height: 1.5rem;
                content: "";
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.05775 17.5C8.55258 17.5 8.125 17.325 7.775 16.975C7.425 16.625 7.25 16.1974 7.25 15.6923V4.30775C7.25 3.80258 7.425 3.375 7.775 3.025C8.125 2.675 8.55258 2.5 9.05775 2.5H17.4423C17.9474 2.5 18.375 2.675 18.725 3.025C19.075 3.375 19.25 3.80258 19.25 4.30775V15.6923C19.25 16.1974 19.075 16.625 18.725 16.975C18.375 17.325 17.9474 17.5 17.4423 17.5H9.05775ZM9.05775 16H17.4423C17.5192 16 17.5898 15.9679 17.6538 15.9038C17.7179 15.8398 17.75 15.7692 17.75 15.6923V4.30775C17.75 4.23075 17.7179 4.16025 17.6538 4.09625C17.5898 4.03208 17.5192 4 17.4423 4H9.05775C8.98075 4 8.91025 4.03208 8.84625 4.09625C8.78208 4.16025 8.75 4.23075 8.75 4.30775V15.6923C8.75 15.7692 8.78208 15.8398 8.84625 15.9038C8.91025 15.9679 8.98075 16 9.05775 16ZM5.55775 21C5.05258 21 4.625 20.825 4.275 20.475C3.925 20.125 3.75 19.6974 3.75 19.1923V6.30775H5.25V19.1923C5.25 19.2693 5.28208 19.3398 5.34625 19.4038C5.41025 19.4679 5.48075 19.5 5.55775 19.5H15.4423V21H5.55775Z' fill='%237890FF'/%3E%3C/svg%3E");
            }

            &.link {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4.30775 19.5C3.80258 19.5 3.375 19.325 3.025 18.975C2.675 18.625 2.5 18.1974 2.5 17.6923V6.30775C2.5 5.80258 2.675 5.375 3.025 5.025C3.375 4.675 3.80258 4.5 4.30775 4.5H19.6923C20.1974 4.5 20.625 4.675 20.975 5.025C21.325 5.375 21.5 5.80258 21.5 6.30775V17.6923C21.5 18.1974 21.325 18.625 20.975 18.975C20.625 19.325 20.1974 19.5 19.6923 19.5H4.30775ZM12 12.5577L4 7.44225V17.6923C4 17.7821 4.02883 17.8558 4.0865 17.9135C4.14417 17.9712 4.21792 18 4.30775 18H19.6923C19.7821 18 19.8558 17.9712 19.9135 17.9135C19.9712 17.8558 20 17.7821 20 17.6923V7.44225L12 12.5577ZM12 11L19.8463 6H4.15375L12 11ZM4 7.44225V6V17.6923C4 17.7821 4.02883 17.8558 4.0865 17.9135C4.14417 17.9712 4.21792 18 4.30775 18H4V7.44225Z' fill='%237890FF'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .contact__desc {
        margin-top: 1.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .socials {
        margin-top: 2.5rem;
        gap: 1.5rem;
        li {
            &::after {
                display: none;
            }
            a {
                border-color: var(--cg) !important;
                background-color: transparent !important;
                box-shadow: none !important;
                img {
                    filter: none !important;
                }
            }
        }
    }
    .contact__right {
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    .contact__list {
        margin-top: 1.5rem;
        gap: 0.5rem;
        li {
            a {
                padding: 0.75rem 1.25rem;
                font-size: 1rem;
                border-color: var(--cm) !important;
                box-shadow: none !important;

                &::before {
                    width: 1.25rem;
                    min-width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .contact__container {
        gap: 6rem;
        flex-direction: column;
    }
    .socials {
        padding-right: 1rem;
    }
    .contact__right {
        width: 100%;
        min-width: inherit;
    }
}
