<footer class="footer">
  <div class="container">
    <div class="footer__top flex jcsb">
      <div class="footer__part">
        <a href="/" class="footer__logo">
          <img src="./img/icons/logo_f.svg" alt="" />
        </a>
        <ul class="foot_socials">
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_1.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_2.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_3.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__part flex">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="/ledies.html">First Ladies & Gentlemen</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/events.html">Events</a>
              <ul class="sub-menu">
                <li>
                  <a href="/events.html">All events</a>
                </li>
                <li>
                  <a href="/calendar.html">Calendar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/gallery.html">Gallery</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/whatwedo.html">About Us</a>
              <ul class="sub-menu">
                <li>
                  <a href="/whatwedo.html">What do we do</a>
                </li>
                <li>
                  <a href="/history.html">History page</a>
                </li>
                <li>
                  <a href="/media.html">Media about us</a>
                </li>
                <li>
                  <a href="/contact.html">Contacts</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/news.html">News</a>
            </li>
            <li>
              <a href="/blog.html">Blog</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="button white scrollUp">
          <span><span>До початку</span><span>До початку</span></span>
        </a>
      </div>
    </div>
    <div class="footer__bottom flex jcsb">
      <div class="copyright">Copyright © 2024</div>
      <a href="/privacy.html">Privacy policy</a>
    </div>
  </div>
</footer>

<load src="partials/general/gallery.html" />
