<footer class="footer">
  <div class="container">
    <div class="footer__top flex jcsb">
      <div class="footer__part">
        <a href="/" class="footer__logo">
          <img src="./img/icons/logo_f.svg" alt="" />
        </a>
        <ul class="foot_socials">
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_1.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_2.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/icons/soc_3.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__part flex">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="#">First Ladies & Gentlemen</a>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Events</a>
              <ul class="sub-menu">
                <li>
                  <a href="#">All events</a>
                </li>
                <li>
                  <a href="#">Calendar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Gallery</a>
            </li>
            <li class="menu-item-has-children">
                <a href="#">About Us</a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">What do we do</a>
                  </li>
                  <li>
                    <a href="#">History page</a>
                  </li>
                  <li>
                    <a href="#">Media about us</a>
                  </li>
                  <li>
                    <a href="#">Contacts</a>
                  </li>
                </ul>
              </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="button white scrollUp">
          <span><span>До початку</span><span>До початку</span></span>
        </a>
      </div>
    </div>
    <div class="footer__bottom flex jcsb">
      <div class="copyright">Copyright © 2024</div>
      <a href="#">Privacy policy</a>
    </div>
  </div>
</footer>
 
<load src="partials/general/gallery.html" />