<section class="section__news nom">
  <div class="container">
    <div class="news__heading flex">
      <h1>News</h1>
      <div class="filtercont flex">
        <div class="filter__item filter__news">
          <div class="facetwp-facet facetwp-type-dropdown">
            <select class="facetwp-dropdown">
              <option value="">All categories</option>
              <option value="cat1">Category 1</option>
              <option value="cat2">Category 2</option>
              <option value="cat3">Category 3</option>
              <option value="cat4">Category 4</option>
              <option value="cat5">Category 5</option>
              <option value="cat6">Category 6</option>
              <option value="cat7">Category 7</option>
            </select>
          </div>
        </div>
        <div class="filter__item filter__sort">
          <button class="filter__sortctrl newsSort"></button>
          <div class="facetwp-facet facetwp-type-sort" data-type="sort">
            <select>
              <option value="">Сортування</option>
              <option value="_">Спочатку останні</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="section__content">
      <ul class="news__list">
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
      </ul>
      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1">&lt;</a
            ><a class="facetwp-page first" data-page="1">1</a
            ><a class="facetwp-page active" data-page="2">2</a
            ><a class="facetwp-page" data-page="3">3</a
            ><a class="facetwp-page dots">…</a
            ><a class="facetwp-page last" data-page="12">12</a
            ><a class="facetwp-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
