<section class="section__future">
  <div class="container">
    <div class="section__heading">
      <h2>Events</h2>
      <a href="#" class="button sec">
        <span><span>All Events</span><span>All Events</span></span>
      </a>
    </div>
    <div class="section__content">
      <div class="events__list">
        <load src="../general/event.html" />
        <load src="../general/event.html" />
        <load src="../general/event.html" />
        <load src="../general/event.html" />
      </div>
    </div>
    <div class="section__footer">
      <a href="#" class="button sec">
        <span><span>All Events</span><span>All Events</span></span>
      </a>
    </div>
  </div>
</section>
