<section class="section__infogr">
  <div class="container">
    <h3 class="infogr__title">
      About us ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat.
    </h3>
    <div class="infogr__content flex jcsb">
        <ul class="infogr__list">
            <li>
                <span>120+</span>
                <span>Consectetur adipiscing </span>
            </li>
            <li>
                <span>84</span>
                <span>Exercitation ullamco laboris</span>
            </li>
        </ul>
        <div class="infogr__text">
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>
  </div>
</section>
