.blog__content {
    margin-top: 8rem;
}

.section__author {
    .blog__content {
        margin-top: 4rem;
    }
}

.author__headingcont {
    padding-top: 5rem;
    position: relative;

    h3 {
        a {
            color: var(--cm) !important;
        }
    }
}

.author__heading {
    border-radius: 1.5rem;
    padding: 2rem 3rem 2.5rem 17rem;
    min-height: 9rem;
    gap: 1.5rem;
    background-color: var(--cbg);
    display: flex;
    justify-content: space-between;
    position: relative;

    p {
        margin-top: 0.5rem;
    }

    .socials {
        gap: 1rem;
        margin: 0;
        flex-wrap: nowrap;

        li {
            a {
                width: 3rem;
                height: 3rem;

                img {
                    width: 1.5rem;
                    height: auto;
                }
            }
        }
    }

    .bi__avatarcont {
        left: 2.44rem;
        top: -5rem;
        width: 12rem;
        height: 12rem;
        position: absolute;

        h3 {
            a {
                color: var(--cm);
            }
        }

        .bi__avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        .bi__flag {
            width: 1.5rem;
            height: 1.5rem;
            bottom: 1rem;
            right: 1rem;
        }
    }
}

.blog__date {
    top: 1.5rem;
    color: var(--ct2);
    font-weight: 500;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 960px) {
    .blog__content {
        margin-top: 6rem;
    }
    .section__author {
        .blog__content {
            margin-top: 3rem;
        }
    }
    .author__headingcont {
        padding-top: 3rem;
    }
    .author__heading {
        border-radius: 0.75rem;
        padding: 1rem;
        min-height: inherit;
        gap: 0.5rem;
        flex-direction: column-reverse;
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        p {
            margin-top: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        .socials {
            gap: .5rem;
            min-height: 4rem;
            padding: 0;
            padding-left: 8rem;
            justify-content: flex-end;
            margin: 0;
            flex-wrap: wrap;
            li {
                a {
                    width: 2rem;
                    height: 2rem;
                    img {
                        width: 1rem;
                    }
                }
            }
        }
        .bi__avatarcont {
            left: .37rem;
            top: -3rem;
            width: 8rem;
            height: 8rem;
            .bi__flag {
                bottom: .25rem;
                right: .25rem;
            }
        }
    }
    .blog__date {
        top: 1rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }
}
