<section class="section__author nom">
  <div class="container">
    <div class="author__headingcont">
      <div class="author__heading">
        <div class="bi__avatarcont">
          <div class="bi__avatar">
            <img src="./img/content/author_sm.jpg" alt="" class="cover" />
          </div>
          <div class="bi__flag">
            <img src="./img/icons/ua.png" alt="" class="cover" />
          </div>
        </div>
        <div class="author__left">
          <h3>Claudia Vanessa Dobles Camargo</h3>
          <p>First Lady of Costa Rica</p>
        </div>
        <ul class="socials">
          <li>
            <a href="#">
              <img src="./img/icons/website.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icons/linkedin.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icons/x.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./img/icons/facebook.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="blog__content">
      <ul class="blog__list">
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
      </ul>
      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1">&lt;</a
            ><a class="facetwp-page first" data-page="1">1</a
            ><a class="facetwp-page active" data-page="2">2</a
            ><a class="facetwp-page" data-page="3">3</a
            ><a class="facetwp-page dots">…</a
            ><a class="facetwp-page last" data-page="12">12</a
            ><a class="facetwp-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
