<section class="ledies__section">
    <div class="container">
        <div class="section__heading center centerM">
            <h2>Partners</h2>
        </div>
        <div class="section__content">
            <ul class="supported__list">
                <li class="supported__item">
                    <img src="./img/icons/sup_1.png" alt="">
                    <a href="#" target="_blank"></a>
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_2.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_3.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_4.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_5.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_6.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_7.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_8.png" alt="">
                </li>
                <li class="supported__item">
                    <img src="./img/icons/sup_9.png" alt="">
                </li>
                <li class="supported__item empty"></li>
                <li class="supported__item empty"></li>
                <li class="supported__item empty"></li>
            </ul>
        </div>
    </div>
</section>