<section class="section__whatwedo">
  <div class="container">
    <div class="wwd__title">
      <h3>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </h3>
    </div>
    <div class="wwd__cont">
      <div class="wwd__textcont flex jcsb">
        <div class="wwd__textpart duble">
          <p>
            Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
        <div class="wwd__textpart duble">
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
      <div class="wwd__imgcont">
        <div class="wwd__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="wwd__slide splide__slide">
                <img src="./img/content/wwd2.jpg" alt="" class="cover" />
              </li>
              <li class="wwd__slide splide__slide">
                <img src="./img/content/gal_5.jpg" alt="" class="cover" />
              </li>
              <li class="wwd__slide splide__slide">
                <img src="./img/content/gal_3.jpg" alt="" class="cover" />
              </li>
              <li class="wwd__slide splide__slide">
                <img src="./img/content/gal_7.jpg" alt="" class="cover" />
              </li>
            </ul>
          </div>
          <div class="splide__arrows main__arrowscont">
            <div class="index-page">1/4</div>
            <div class="wwd__arrows">
              <button
                class="splide__arrow splide__arrow--prev"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track"
              ></button>
              <div class="splide__pagination"></div>
              <button
                class="splide__arrow splide__arrow--next"
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
