<section class="section__docs">
  <div class="container">
    <div class="section__heading">
      <h2>Related documents</h2>
    </div>
    <div class="section__content">
      <div class="docs__content flex jcsb">
        <div class="docs__allcont">
          <h3>Communiqué of the event and related files</h3>
          <p>
            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat
          </p>
          <div class="docsall__icon"></div>
          <a href="./img/pdf.zip" download="Communiqué" class="program__download">
            <span>Download All Files</span>
          </a>
        </div>
        <ul class="docs__list">
          <li>
            <a href="./img/pdf.pdf" download="Duis aute irure dolor in reprehenderit">Duis aute irure dolor in reprehenderit </a>
          </li>
          <li>
            <a href="./img/pdf.pdf" download="Dolor in reprehenderit aute irure">Dolor in reprehenderit aute irure </a>
          </li>
          <li>
            <a href="./img/pdf.pdf" download="2023 Duis aute irure sit amet dolor lorem">2023 Duis aute irure sit amet dolor lorem </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
