<section class="section__event nom">
    <div class="container">
        <div class="secevent__heading">
            <div class="secevent__headingleft">
                <h1>The summit of first ladiesand gentlemen global platform</h1>
                <p>
                    Mental health: fragility and resilience of the future
                </p>
            </div>
            <div class="secevent__date">
                September 6, 2023
            </div>
        </div>
        <div class="secevent__img">
            <img src="./img/content/gal_7.jpg" class="cover" alt="">
        </div>
    </div>
</section>