<section class="section__whatwedo">
  <div class="container">
    <div class="wwd__title bigger">
      <h3>
        The theme of the Third Summit of First Ladies and Gentlemen: "Mental
        Health: Resilience and Vulnerability of the Future"
      </h3>
    </div>
    <div class="wwd__cont">
      <div class="wwd__textcont flex jcsb">
        <div class="wwd__textpart duble">
          <p>
            Over the past decade, the world has been going through a series of
            extremely devastating challenges - the pandemic, the economic crisis
            resulting from the pandemic, climate change and natural disasters,
            earthquakes and floods, wars, including the full-scale war in Europe
            launched by Russia against Ukraine. These challenges test our
            resilience and true friendship. But they also emphasize an invisible
            vulnerability - our mental health.
          </p>
        </div>
        <div class="wwd__textpart duble">
          <p>
            Mental health is an integral part of the concept of human
            well-being; therefore, further development of human capital in the
            world is impossible without proper attention to this area of life.
          </p>
        </div>
      </div>
      <div class="wwd__imgcont">
        <div class="wwd__img">
          <img src="./img/content/wwd2.jpg" alt="" class="cover" />
        </div>
      </div>
    </div>
  </div>
</section>
