<section class="section__gallery">
  <div class="container">
    <div class="section__heading withText">
      <h2>Summit Gallery</h2>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="section__content">
      <div class="gallery__carousell splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="gallery__slide splide__slide" data-index="0">
                <div class="gallery__inner" data-img="./img/content/gal_1.jpg" data-full="./img/content/gal_1.jpg" data-desc="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia">
                    <img src="./img/content/gal_1.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="1">
                <div class="gallery__inner" data-img="./img/content/gal_2.jpg" data-full="./img/content/gal_2.jpg" data-desc="Excepteur sint occaecat cupidatat non proident, sunt in culpa">
                    <img src="./img/content/gal_2.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="2">
                <div class="gallery__inner" data-img="./img/content/gal_3.jpg" data-full="./img/content/gal_3.jpg" data-desc="Excepteur sint occaecat cupidatat non proident">
                    <img src="./img/content/gal_3.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="3">
                <div class="gallery__inner" data-img="./img/content/gal_4.jpg" data-full="./img/content/gal_4.jpg" data-desc="Excepteur sint occaecat cupidatat">
                    <img src="./img/content/gal_4.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="4">
                <div class="gallery__inner" data-img="./img/content/gal_5.jpg" data-full="./img/content/gal_5.jpg" data-desc="Excepteur sint occaecat">
                    <img src="./img/content/gal_5.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="5">
                <div class="gallery__inner" data-img="./img/content/gal_6.jpg" data-full="./img/content/gal_6.jpg" data-desc="Excepteur sint">
                    <img src="./img/content/gal_6.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide" data-index="6">
                <div class="gallery__inner" data-img="./img/content/gal_7.jpg" data-full="./img/content/gal_7.jpg" data-desc="Excepteur">
                    <img src="./img/content/gal_7.jpg" alt="" class="cover">
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
