<section class="ledies__section">
    <div class="container">
        <div class="section__heading">
            <h2>Ladies and gentlemen</h2>
        </div>
        <div class="section__content">
            <ul class="ledies__list sm">
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
            </ul>
        </div>
    </div>
</section>