<section class="section__team">
  <div class="container">
    <div class="section__heading">
      <h2>Participants of the summit</h2>
    </div>
    <div class="section__content">
      <ul class="team__list">
        <li class="team__item showMobSt">
          <div class="team__img">
            <img src="./img/content/team_1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Sarah Thompson</div>
            <div class="team__post">Founder & CEO</div>
          </div>
        </li>
        <li class="team__item showMobSt">
          <div class="team__img">
            <img src="./img/content/team_2.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">David Chen</div>
            <div class="team__post">Chief Operating Officer</div>
          </div>
        </li>
        <li class="team__item showMobSt">
          <div class="team__img">
            <img src="./img/content/team_3.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Emily Rodriguez</div>
            <div class="team__post">Chief Marketing Officer</div>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img">
            <img src="./img/content/team_4.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Michael Johnsonn</div>
            <div class="team__post">Event Manager</div>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img">
            <img src="./img/content/team_5.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Rachel Smith</div>
            <div class="team__post">Logistics Coordinator</div>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img">
            <img src="./img/content/team_6.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Daniel Lee</div>
            <div class="team__post">Volunteer Coordinator</div>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img">
            <img src="./img/content/team_7.jpg" alt="" class="cover" />
          </div>
          <div class="team__info">
            <div class="team__name">Alex Nguyen</div>
            <div class="team__post">Social Media Coordinator</div>
          </div>
        </li>
      </ul>
      <div class="section__footer">
        <a href="#" data-st="Show More" data-ed="Hide" class="button sec">
          <span><span>Show More</span><span>Show More</span></span>
        </a>
      </div>
    </div>
  </div>
</section>
