<section class="section__plates">
  <div class="container">
    <div class="section__heading">
      <h2>Address by Olena Zelenska</h2>
    </div>
    <div class="section__content">
      <div class="plates__item flex centerV jcsb">
        <div class="plates__img">
          <div class="plates__imginner">
            <img src="./img/content/plates.jpg" alt="" class="cover" />
          </div>
        </div>
        <div class="plates__inform">
          <div class="plates__text">
            <p>
              For a long time now, it's been axiomatic for all conscious people
              that human life is important. The time has come to also make it
              axiomatic that the quality of that life is important. And mental
              health is the foundation of that quality.
            </p>
            <p>
              Speaking about Ukraine, the word "resilience" is often used
              globally. Psychological resilience is the ability to overcome
              challenges and live a fulfilling life. The personal resilience of
              each individual is a component of a society's resilience.
            </p>
          </div>
        </div>
      </div>
      <div class="plates__item flex centerV jcsb">
        <h2 class="plates__mob">Stream</h2>
        <div class="plates__img">
            <div class="plates__imginner">
                <div class="wp-block-video">
                    <video class="cover" src="./img/video/summit.mp4"></video>
                </div>
            </div>
        </div>
        <div class="plates__inform">
          <h2>Stream</h2>
          <div class="plates__text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
