<section class="section__program">
  <div class="container">
    <div class="section__heading">
      <h2>Summit Program</h2>
      <a href="./img/pdf.pdf" download="Summit Program" class="program__download">
        <span>Download</span>
      </a>
    </div>
    <div class="section__content">
      <ul class="program__list">
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger panel__cont flex jcsb">
              <div class="panel__left flex">
                <div class="panel__name">Panel 1</div>
                <div class="panel__date flex">
                  <span>04.04.2024</span>
                  <span>09:00 - 13:00</span>
                </div>
              </div>
              <div class="panel__right">
                <h3>The heart of the world beats in Ukraine</h3>
                <div class="panel__desc">
                  <p>
                    The reverberations of Russian aggression in Ukraine are
                    already being heard far beyond its borders. Humanitarian
                    disasters, famine, energy crisis - the future well-being of
                    the world depends on the victory of our country. We will
                    discuss how to restore peace and prosperity and prevent
                    tyranny from winning.
                  </p>
                </div>
              </div>
            </div>
          </h2>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="panel__speacers">
                <div class="speakers__title">Speakers:</div>
                <ul class="speakers__list flex">
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_1.jpg" alt="" />
                    </div>
                    <div class="sp__name">Sarah Thompson</div>
                    <div class="sp__post">Founder & CEO</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_2.jpg" alt="" />
                    </div>
                    <div class="sp__name">David Chen</div>
                    <div class="sp__post">Chief Operating Officer</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_3.jpg" alt="" />
                    </div>
                    <div class="sp__name">Michael Johnson</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_4.jpg" alt="" />
                    </div>
                    <div class="sp__name">Rachel Smith</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                </ul>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block A</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip <br />ex ea commodo consequat.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      The reverberations of Russian aggression in Ukraine are
                      already being heard far beyond its borders. Humanitarian
                      disasters, famine, energy crisis - the future well-being
                      of the world depends on the victory of our country. We
                      will discuss how to restore peace and prosperity and
                      prevent tyranny from winning.
                    </p>
                  </div>
                </div>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block B</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger panel__cont flex jcsb">
              <div class="panel__left flex">
                <div class="panel__name">Panel 2</div>
                <div class="panel__date flex">
                  <span>04.04.2024</span>
                  <span>09:00 - 13:00</span>
                </div>
              </div>
              <div class="panel__right">
                <h3>
                  Internally displaced persons. Solidarity without borders
                </h3>
                <div class="panel__desc">
                  <p>
                    The war in Ukraine has caused the largest mass displacement
                    of people in Europe since World War II. We will discuss how
                    to overcome its consequences together; projects that will
                    help IDPs adapt and at the same time preserve their
                    Ukrainian identity. And most importantly, how we can all
                    come out of this crisis stronger.
                  </p>
                </div>
              </div>
            </div>
          </h2>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="panel__speacers">
                <div class="speakers__title">Speakers:</div>
                <ul class="speakers__list flex">
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_1.jpg" alt="" />
                    </div>
                    <div class="sp__name">Sarah Thompson</div>
                    <div class="sp__post">Founder & CEO</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_2.jpg" alt="" />
                    </div>
                    <div class="sp__name">David Chen</div>
                    <div class="sp__post">Chief Operating Officer</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_3.jpg" alt="" />
                    </div>
                    <div class="sp__name">Michael Johnson</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_4.jpg" alt="" />
                    </div>
                    <div class="sp__name">Rachel Smith</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                </ul>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block A</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip <br />ex ea commodo consequat.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      The reverberations of Russian aggression in Ukraine are
                      already being heard far beyond its borders. Humanitarian
                      disasters, famine, energy crisis - the future well-being
                      of the world depends on the victory of our country. We
                      will discuss how to restore peace and prosperity and
                      prevent tyranny from winning.
                    </p>
                  </div>
                </div>
                <div class="panel__spblock">
                  <div class="panel__speacers">
                    <div class="speakers__title">Speakers:</div>
                    <ul class="speakers__list flex">
                      <li class="sp__item">
                        <div class="sp__ava">
                          <img src="./img/content/sp_3.jpg" alt="" />
                        </div>
                        <div class="sp__name">Michael Johnson</div>
                        <div class="sp__post">Event Manager</div>
                      </li>
                      <li class="sp__item">
                        <div class="sp__ava">
                          <img src="./img/content/sp_4.jpg" alt="" />
                        </div>
                        <div class="sp__name">Rachel Smith</div>
                        <div class="sp__post">Event Manager</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block B</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger panel__cont flex jcsb">
              <div class="panel__left flex">
                <div class="panel__name">Panel 3</div>
                <div class="panel__date flex">
                  <span>04.04.2024</span>
                  <span>09:00 - 13:00</span>
                </div>
              </div>
              <div class="panel__right">
                <h3>Save childhood</h3>
                <div class="panel__desc">
                  <p>
                    This session will focus on how to return normal life to
                    Ukrainian children affected by the war. We will discuss the
                    resumption of the educational process in Ukraine and the
                    best international practices that will help in this regard;
                    educational initiatives for Ukrainian children abroad.
                  </p>
                </div>
              </div>
            </div>
          </h2>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="panel__speacers">
                <div class="speakers__title">Speakers:</div>
                <ul class="speakers__list flex">
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_1.jpg" alt="" />
                    </div>
                    <div class="sp__name">Sarah Thompson</div>
                    <div class="sp__post">Founder & CEO</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_2.jpg" alt="" />
                    </div>
                    <div class="sp__name">David Chen</div>
                    <div class="sp__post">Chief Operating Officer</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_3.jpg" alt="" />
                    </div>
                    <div class="sp__name">Michael Johnson</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_4.jpg" alt="" />
                    </div>
                    <div class="sp__name">Rachel Smith</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                </ul>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block A</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip <br />ex ea commodo consequat.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      The reverberations of Russian aggression in Ukraine are
                      already being heard far beyond its borders. Humanitarian
                      disasters, famine, energy crisis - the future well-being
                      of the world depends on the victory of our country. We
                      will discuss how to restore peace and prosperity and
                      prevent tyranny from winning.
                    </p>
                  </div>
                </div>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block B</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger panel__cont flex jcsb">
              <div class="panel__left flex">
                <div class="panel__name">Panel 4</div>
                <div class="panel__date flex">
                  <span>04.04.2024</span>
                  <span>09:00 - 13:00</span>
                </div>
              </div>
              <div class="panel__right">
                <h3>Restoration of health - physical and mental</h3>
                <div class="panel__desc">
                  <p>
                    Constant stress caused by the war, loss of loved ones, home,
                    stability - all this destroys the physical and mental health
                    of the nation. We will discuss the restoration of a healthy
                    society through the rebuilding of the Ukrainian healthcare
                    system, mental health and rehabilitation programs, medical
                    evacuation, and the best international health support
                    programs.
                  </p>
                </div>
              </div>
            </div>
          </h2>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="panel__speacers">
                <div class="speakers__title">Speakers:</div>
                <ul class="speakers__list flex">
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_1.jpg" alt="" />
                    </div>
                    <div class="sp__name">Sarah Thompson</div>
                    <div class="sp__post">Founder & CEO</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_2.jpg" alt="" />
                    </div>
                    <div class="sp__name">David Chen</div>
                    <div class="sp__post">Chief Operating Officer</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_3.jpg" alt="" />
                    </div>
                    <div class="sp__name">Michael Johnson</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_4.jpg" alt="" />
                    </div>
                    <div class="sp__name">Rachel Smith</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                </ul>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block A</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip <br />ex ea commodo consequat.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      The reverberations of Russian aggression in Ukraine are
                      already being heard far beyond its borders. Humanitarian
                      disasters, famine, energy crisis - the future well-being
                      of the world depends on the victory of our country. We
                      will discuss how to restore peace and prosperity and
                      prevent tyranny from winning.
                    </p>
                  </div>
                </div>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block B</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger panel__cont flex jcsb">
              <div class="panel__left flex">
                <div class="panel__name">Panel 5</div>
                <div class="panel__date flex">
                  <span>04.04.2024</span>
                  <span>09:00 - 13:00</span>
                </div>
              </div>
              <div class="panel__right">
                <h3>The female factor of recovery</h3>
                <div class="panel__desc">
                  <p>
                    Ukrainian women are also on the front lines - and not just
                    in the Armed Forces. They are doctors, teachers, volunteers,
                    and mothers who are making extraordinary efforts to keep up
                    on all fronts in the midst of war. This session will focus
                    on the special mission of women in building the modern
                    world, women's leadership during the war, and their role in
                    post-war recovery.
                  </p>
                </div>
              </div>
            </div>
          </h2>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="panel__speacers">
                <div class="speakers__title">Speakers:</div>
                <ul class="speakers__list flex">
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_1.jpg" alt="" />
                    </div>
                    <div class="sp__name">Sarah Thompson</div>
                    <div class="sp__post">Founder & CEO</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_2.jpg" alt="" />
                    </div>
                    <div class="sp__name">David Chen</div>
                    <div class="sp__post">Chief Operating Officer</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_3.jpg" alt="" />
                    </div>
                    <div class="sp__name">Michael Johnson</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                  <li class="sp__item">
                    <div class="sp__ava">
                      <img src="./img/content/sp_4.jpg" alt="" />
                    </div>
                    <div class="sp__name">Rachel Smith</div>
                    <div class="sp__post">Event Manager</div>
                  </li>
                </ul>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block A</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip <br />ex ea commodo consequat.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      The reverberations of Russian aggression in Ukraine are
                      already being heard far beyond its borders. Humanitarian
                      disasters, famine, energy crisis - the future well-being
                      of the world depends on the victory of our country. We
                      will discuss how to restore peace and prosperity and
                      prevent tyranny from winning.
                    </p>
                  </div>
                </div>
              </li>
              <li class="panel__cont flex jcsb">
                <div class="panel__left flex">
                  <div class="panel__name block">Block B</div>
                  <div class="panel__date flex">
                    <span>04.04.2024</span>
                    <span>09:00 - 13:00</span>
                  </div>
                </div>
                <div class="panel__right">
                  <h5>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h5>
                  <div class="panel__desc">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="section__footer">
        <a href="#" class="program__download">
          <span>Download</span>
        </a>
    </div>
    </div>
  </div>
</section>
