<section class="section_related sm">
  <div class="container">
    <div class="section__heading">
      <h2>Media about us</h2>
    </div>
    <div class="section__content">
      <div class="related__carousell news__related splide">
        <div class="splide__track">
          <ul class="splide__list">
            <load src="../general/media.html" />
            <load src="../general/media.html" />
            <load src="../general/media.html" />
            <load src="../general/media.html" />
            <load src="../general/media.html" />
            <load src="../general/media.html" />
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
