<section class="section__search">
  <div class="container">
    <div class="page__heading">
      <h1>Dolore sit amet</h1>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="search__container">
      <div class="search__form">
        <div class="search__desc">
          <div class="facetwp-facet facetwp-facet-s facetwp-type-search">
            <span class="facetwp-input-wrap"
              ><i class="facetwp-icon"></i
              ><input
                type="text"
                class="facetwp-search"
                placeholder="Type here"
            /></span>
          </div>
        </div>
        <div class="search__mob">
          <div class="facetwp-facet facetwp-facet-search facetwp-type-search">
            <span class="facetwp-input-wrap"
              ><i class="facetwp-icon"></i
              ><input
                type="text"
                class="facetwp-search"
                value=""
                placeholder="Пошук"
                autocomplete="off"
            /></span>
          </div>
        </div>
      </div>
      <style>
        .facetwp-facet-s .facetwp-icon::after {
          content: 'Search';
        }
      </style>

      <div class="filter__cats">
        <div
          class="facetwp-facet facetwp-facet-types facetwp-type-radio"
          data-name="types"
          data-type="radio"
        >
          <div class="facetwp-radio checked" data-value="">All categories</div>
          <div class="facetwp-radio" data-value="post">
            <span class="facetwp-display-value">Events</span
            ><span class="facetwp-counter">(8)</span>
          </div>
          <div class="facetwp-radio" data-value="blog">
            <span class="facetwp-display-value">Blog Articles</span
            ><span class="facetwp-counter">(6)</span>
          </div>
          <div class="facetwp-radio" data-value="ledies">
            <span class="facetwp-display-value">First Ladies and Gentlemen</span
            ><span class="facetwp-counter">(6)</span>
          </div>
          <div class="facetwp-radio" data-value="news">
            <span class="facetwp-display-value">News</span
            ><span class="facetwp-counter">(6)</span>
          </div>
          <div class="facetwp-radio" data-value="gallery">
            <span class="facetwp-display-value">Gallery</span
            ><span class="facetwp-counter">(6)</span>
          </div>
        </div>
      </div>
      <ul class="search__results">
        <li style="display: none" class="no__results">No results</li>
        <li class="search__item flex jcsb">
          <div class="search__left flex">
            <div class="search__inform">
              <a href="#"> The heart of the world beats in Ukraine... </a>
              <div class="search__desc">
                <p>
                  ...enim ad minim veniam, quis nostrud
                  <b>Claudia Vanessa Dobles</b>
                  Camargo exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis aute irure dolor...
                </p>
              </div>
            </div>
            <div class="search__tag">News</div>
          </div>
          <a href="#" class="button sec">
            <span><span>Learn More</span><span>Learn More</span></span>
          </a>
        </li>
        <li class="search__item flex jcsb">
          <div class="search__left flex">
            <div class="search__inform">
              <a href="#"
                >Internally displaced persons. Solidarity without borders...</a
              >
              <div class="search__desc">
                <p>
                  ...enim ad minim veniam, quis nostrud
                  <b>Claudia Vanessa Dobles</b>
                  Camargo exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis aute irure dolor...
                </p>
              </div>
            </div>
            <div class="search__tag">News</div>
          </div>
          <a href="#" class="button sec">
            <span><span>Learn More</span><span>Learn More</span></span>
          </a>
        </li>
        <li class="search__item flex jcsb">
          <div class="search__left flex">
            <div class="search__inform">
              <a href="#">Save childhood...</a>
              <div class="search__desc">
                <p>
                  ...enim ad minim veniam, quis nostrud
                  <b>Claudia Vanessa Dobles</b>
                  Camargo exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis aute irure dolor...
                </p>
              </div>
            </div>
            <div class="search__tag">News</div>
          </div>
          <a href="#" class="button sec">
            <span><span>Learn More</span><span>Learn More</span></span>
          </a>
        </li>
        <li class="search__item flex jcsb">
          <div class="search__left flex">
            <div class="search__inform">
              <a href="#">Restoration of health - physical and mental...</a>
              <div class="search__desc">
                <p>
                  ...enim ad minim veniam, quis nostrud
                  <b>Claudia Vanessa Dobles</b>
                  Camargo exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis aute irure dolor...
                </p>
              </div>
            </div>
            <div class="search__tag">News</div>
          </div>
          <a href="#" class="button sec">
            <span><span>Learn More</span><span>Learn More</span></span>
          </a>
        </li>
        <li class="search__item flex jcsb">
          <div class="search__left flex">
            <div class="search__inform">
              <a href="#">The female factor of recovery...</a>
              <div class="search__desc">
                <p>
                  ...enim ad minim veniam, quis nostrud
                  <b>Claudia Vanessa Dobles</b>
                  Camargo exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Duis aute irure dolor...
                </p>
              </div>
            </div>
            <div class="search__tag">News</div>
          </div>
          <a href="#" class="button sec">
            <span><span>Learn More</span><span>Learn More</span></span>
          </a>
        </li>
      </ul>
      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1">&lt;</a
            ><a class="facetwp-page first" data-page="1">1</a
            ><a class="facetwp-page active" data-page="2">2</a
            ><a class="facetwp-page" data-page="3">3</a
            ><a class="facetwp-page dots">…</a
            ><a class="facetwp-page last" data-page="12">12</a
            ><a class="facetwp-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
