<section class="section__news">
    <div class="container">
      <div class="news__heading flex">
        <h2>Event archive</h2>
        <div class="filtercont flex">
          <div class="filter__item filter__news">
            <div class="facetwp-facet facetwp-type-dropdown">
              <select class="facetwp-dropdown">
                <option value="">Select years</option>
                <option value="cat1">2024</option>
                <option value="cat1">2023</option>
                <option value="cat1">2022</option>
                <option value="cat1">2021</option>
              </select>
            </div>
          </div>
          <div class="filter__item filter__sort">
            <button class="filter__sortctrl"></button>
            <div class="facetwp-facet facetwp-type-sort" data-type="sort">
              <select>
                <option value="">Сортування</option>
                <option value="_">Спочатку останні</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="section__content">
        <div class="events__list">
            <load src="../general/event.html" />
            <load src="../general/event.html" />
            <load src="../general/event.html" />
            <load src="../general/event.html" />
          </div>
        <div class="pagination__cont">
          <div
            class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
            data-name="pagination"
            data-type="pager"
          >
            <div class="facetwp-pager">
              <a class="facetwp-page prev" data-page="1">&lt;</a
              ><a class="facetwp-page first" data-page="1">1</a
              ><a class="facetwp-page active" data-page="2">2</a
              ><a class="facetwp-page" data-page="3">3</a
              ><a class="facetwp-page dots">…</a
              ><a class="facetwp-page last" data-page="12">12</a
              ><a class="facetwp-page next" data-page="3">&gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  