/* Settings */
@import url('./settings/fonts.scss');
@import url('./settings/default.scss');
@import url('./settings/variables.scss');
@import url('./settings/general.scss');

/* Header */
@import url('./sections/header/header.scss');
@import url('./sections/header/navigation.scss');

/* Home */
@import url('./sections/home/main.scss');
@import url('./sections/home/mission.scss');
@import url('./sections/home/news.scss');
@import url('./sections/general/newsitem.scss');
@import url('./sections/home/summit.scss');
@import url('./sections/home/ledies.scss');
@import url('./sections/general/ledies.scss');
@import url('./sections/home/future.scss');
@import url('./sections/general/event.scss');
@import url('./sections/home/gallery.scss');
@import url('./sections/home/blog.scss');
@import url('./sections/general/blogitem.scss');
@import url('./sections/home/supports.scss');

/* Footer */
@import url('./sections/footer/footer.scss');
@import url('./sections/general/gallery.scss');

/* News */
@import url('./sections/news/news.scss');

/* Newspage */
@import url('./sections/news/newspage.scss');
@import url('./sections/general/embeded.scss');
@import url('./sections/news/related.scss');

/* History */
@import url('./sections/history/history.scss');
@import url('./sections/history/infogr.scss');

/* What do we do */
@import url('./sections/whatwedo/whatwedo.scss');
@import url('./sections/whatwedo/team.scss');

/* Events */
@import url('./sections/events/events.scss');

/* Event */
@import url('./sections/event/event.scss');
@import url('./sections/event/plates.scss');
@import url('./sections/event/program.scss');
@import url('./sections/event/docs.scss');
@import url('./sections/general/media.scss');

/* Contact */
@import url('./sections/contact/contact.scss');

/* Media */
@import url('./sections/media/media.scss');

/* Media */
@import url('./sections/ledies/countries.scss');

/* Gallery */
@import url('./sections/gallery/gallery.scss');

/* Blog */
@import url('./sections/blog/blog.scss');

/* Search */
@import url('./sections/search/search.scss');

/* Error */
@import url('./sections/general/error.scss');

/* Text */
@import url('./sections/general/text.scss');
