.section__error {
    padding-top: 10rem;
    margin: 0;
}

.error__content {
    min-height: calc(100vh - 25.5rem);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    p {
        margin-top: 1.5rem;
        max-width: 20rem;
        color: #353A4A;
    }

    .button {
        margin-top: 4.5rem;
    }
}

@media screen and (max-width: 960px) {
    .section__error {
        padding-top: 6rem;
    }
    .error__content {
        min-height: calc(100vh - 17rem);
        .button {
            margin-top: 3rem;
        }
    }
}