<section class="section__news study__news">
  <div class="container">
    <div class="section__heading">
      <h2>Новини про дослідження</h2>
      <a href="/news.html" class="button sec">
        <span><span>All News</span><span>All News</span></span>
      </a>
    </div>
    <div class="section__content">
      <ul class="news__list">
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
        <load src="../general/newsitem.html" />
      </ul>
    </div>
    <div class="section__footer">
      <a href="/news.html" class="button sec">
        <span><span>All News</span><span>All News</span></span>
      </a>
    </div>
  </div>
</section>
