<section class="section__calendar nom">
  <div class="container">
    <div class="page__heading">
      <h1>Duis aute irure dolor in reprehenderit in voluptate</h1>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="section__heading">
      <h2>Future Events</h2>
    </div>
    <div class="section__content">
      <ul class="events__list">
        <load src="../general/event.html" />
        <load src="../general/event.html" />
        <load src="../general/event.html" />
      </ul>
    </div>
  </div>
</section>
