<section class="section__blog">
  <div class="container">
    <div class="section__heading">
      <h2>Blog</h2>
      <a href="/blog.html" class="button sec">
        <span><span>All Articles</span><span>All Articles</span></span>
      </a>
    </div>
    <div class="section__content">
      <ul class="blog__list">
        <load src="../general/blogitem.html" />
        <load src="../general/blogitem.html" />
      </ul>
    </div>
    <div class="section__footer">
      <a href="/blog.html" class="button sec">
        <span><span>All Articles</span><span>All Articles</span></span>
      </a>
    </div>
  </div>
</section>
