<section class="section__gallery">
  <div class="container">
    <div class="section__heading withText">
      <h2>Events Gallery</h2>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="section__content">
      <div class="gallery__carousell splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_1.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_2.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_3.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_4.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_5.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_6.jpg" alt="" class="cover">
                </div>
            </li>
            <li class="gallery__slide splide__slide">
                <div class="gallery__inner">
                    <img src="./img/content/gal_7.jpg" alt="" class="cover">
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
