<section class="ledies__section">
    <div class="container">
        <div class="section__heading center">
            <h2>Ladies and gentlemen</h2>
        </div>
        <div class="section__content">
            <ul class="ledies__list">
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
                <load src="../general/ledies.html" />
            </ul>
        </div>
        <div class="section__footer desc">
            <a href="/ledies.html" class="button sec">
                <span><span>All Participants</span><span>All Participants</span></span>
            </a>
        </div>
    </div>
</section>