<section class="section__mission sm">
  <div class="container">
    <div class="section__heading">
      <h2>Mission, goals <br />and objectives</h2>
      <a href="#" class="button sec">
        <span><span>Learn More</span><span>Learn More</span></span>
      </a>
    </div>
    <div class="section__content">
      <ul class="mission__list">
        <li class="mission__item">
          <div class="mission__title">Objectives</div>
          <div class="mission__text">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </li>
        <li class="mission__item">
          <div class="mission__title">Mission</div>
          <div class="mission__text">
            <p>
              About us ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </li>
        <li class="mission__item">
          <div class="mission__title">Goals</div>
          <div class="mission__text lists">
            <ul>
              <li>Ut enim ad minim veniam, quis nostrud exercitation </li>
              <li>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
              </li>
              <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
            <ul>
              <li>
                Dolor sit amet, consectetur adipiscing elit, eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </li>
              <li>
                Duis aute irure dolor in reprehenderit in voluptate dolor ipsum
                sit amet
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="section__footer">
      <a href="#" class="button sec">
        <span><span>Learn More</span><span>Learn More</span></span>
      </a>
    </div>
  </div>
</section>
