<section class="section__summit">
  <img src="./img/backgrounds/summit.jpg" alt="" class="cover" />
  <img src="./img/backgrounds/summit_mob.jpg" alt="" class="cover mob" />
  <div class="container">
    <div class="summit__container flex">
      <div class="summit__content">
        <h3>The Fourth Summit <br>of First Ladies <br>and Gentlemen</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </p>
        <a href="/event.html" class="primary button">
            <span><span>Learn more</span><span>Learn more</span></span>
        </a>
    </div>
    </div>
  </div>
</section>
