<div class="graphick__part">
  <div class="container">
    <div class="study__cont">
      <div class="study__heading flex">
        <h3>Найбільші виклики для батьків</h3>
        <a
          href="./img/pdf.zip"
          download="Summit 2023"
          class="program__download"
        >
          <span>Download</span>
        </a>
      </div>
      <div class="study__text embed">
        <p>
          P9a: What do you think are the biggest problems facing people in your
          country in the next two years? Answer on a scale of 1-10 where 10 is
          "a really big problem". Sample base: 4,500 parents
        </p>
      </div>
      <div class="graphick__content">
        <div class="graphick__main">
          <div class="graphick__left">
            <h3>
              What do you think <br />are the biggest problems facing people in
              your country <br />Rin the next two years?
            </h3>
            <div class="graphick__tag">Sample base: 4 500 parents</div>
          </div>
          <div class="graphick__right">
            <h5 class="graphick__title">Global</h5>
            <ul class="graphick__body">
              <li
                class="graphick__item"
                data-width="100%"
                data-num="8.02"
                data-step="2"
              >
                <div class="graphick__name">Rising prices</div>
                <div class="graphick__linecont">
                  <div style="width: 0%" class="graphick__line"></div>
                </div>
                <div class="graphick__val">8,02</div>
              </li>
              <li
                class="graphick__item"
                data-width="90%"
                data-num="7,06"
                data-step="2"
              >
                <div class="graphick__name">Poverty</div>
                <div class="graphick__linecont">
                  <div style="width: 0%" class="graphick__line"></div>
                </div>
                <div class="graphick__val">7,06</div>
              </li>
              <li
                class="graphick__item"
                data-width="82%"
                data-num="7,04"
                data-step="2"
              >
                <div class="graphick__name">Unemployment</div>
                <div class="graphick__linecont">
                  <div style="width: 0%" class="graphick__line"></div>
                </div>
                <div class="graphick__val">7,04</div>
              </li>
              <li
                class="graphick__item"
                data-width="76%"
                data-num="6,91"
                data-step="2"
              >
                <div class="graphick__name">Climate change</div>
                <div class="graphick__linecont">
                  <div style="width: 0%" class="graphick__line"></div>
                </div>
                <div class="graphick__val">6,91</div>
              </li>
              <li
                class="graphick__item"
                data-width="56%"
                data-num="6,86"
                data-step="2"
              >
                <div class="graphick__name">Poor mental health</div>
                <div class="graphick__linecont">
                  <div style="width: 0%" class="graphick__line"></div>
                </div>
                <div class="graphick__val">6,86</div>
              </li>
            </ul>
            <div class="gtaphick__after">
              Answer on a scale of 1-10 where 10 is "a really big problem"
            </div>
          </div>
        </div>
        <div class="graphick__slidercont">
          <h3>Local</h3>
          <div class="graphick__carousell splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="graphick__slnum">#1</div>
                  <h4>Extreme temperatures</h4>
                  <div class="graphick__countries">
                    <p>Relevant for:</p>
                    <ul class="graphick__ctrlist flex">
                      <li>
                        <img src="./img/content/flag_1.png" alt="" />
                        <span>Australia</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_2.png" alt="" />
                        <span>Austria</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_3.png" alt="" />
                        <span>Italy</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_4.png" alt="" />
                        <span>Norway</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_5.png" alt="" />
                        <span>Spain</span>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="graphick__slnum">#2</div>
                  <h4>Air pollution</h4>
                  <div class="graphick__countries">
                    <p>Relevant for:</p>
                    <ul class="graphick__ctrlist flex">
                      <li>
                        <img src="./img/content/flag_1.png" alt="" />
                        <span>Australia</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_2.png" alt="" />
                        <span>Austria</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_4.png" alt="" />
                        <span>Norway</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_5.png" alt="" />
                        <span>Spain</span>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="graphick__slnum">#3</div>
                  <h4>Poor physical health</h4>
                  <div class="graphick__countries">
                    <p>Relevant for:</p>
                    <ul class="graphick__ctrlist flex">
                      <li>
                        <img src="./img/content/flag_3.png" alt="" />
                        <span>Italy</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_4.png" alt="" />
                        <span>Norway</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_5.png" alt="" />
                        <span>Spain</span>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="graphick__slnum">#4</div>
                  <h4>Loneliness</h4>
                  <div class="graphick__countries">
                    <p>Relevant for:</p>
                    <ul class="graphick__ctrlist flex">
                      <li>
                        <img src="./img/content/flag_1.png" alt="" />
                        <span>Australia</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_2.png" alt="" />
                        <span>Austria</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_3.png" alt="" />
                        <span>Italy</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_4.png" alt="" />
                        <span>Norway</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_5.png" alt="" />
                        <span>Spain</span>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="graphick__slnum">#5</div>
                  <h4>Floods</h4>
                  <div class="graphick__countries">
                    <p>Relevant for:</p>
                    <ul class="graphick__ctrlist flex">
                      <li>
                        <img src="./img/content/flag_2.png" alt="" />
                        <span>Austria</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_3.png" alt="" />
                        <span>Italy</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_4.png" alt="" />
                        <span>Norway</span>
                      </li>
                      <li>
                        <img src="./img/content/flag_5.png" alt="" />
                        <span>Spain</span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="splide__arrows flex bottom__arrows">
              <button class="splide__arrow prev splide__arrow--prev"></button>
              <button class="splide__arrow next splide__arrow--next"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="study__bottom">
      <a href="./img/pdf.zip" download="Summit 2023" class="program__download">
        <span>Download</span>
      </a>
    </div>
  </div>
</div>
