<div class="study__part">
  <div class="container">
    <div class="study__cont">
      <div class="study__heading flex">
        <h3>Про дослідження</h3>
        <a
          href="./img/pdf.zip"
          download="Summit 2023"
          class="program__download"
        >
          <span>Результати дослідження</span>
        </a>
      </div>
      <div class="study__text embed">
        <p>
          У межах четвертого Саміту перших леді та джентльменів були
          презентовані результати міжнародного соціологічного дослідження,
          присвяченого темі захисту дитинства. У ньому взяли участь респонденти
          з 15 країн світу. Ми провели інтерв’ю серед 300 батьків та 300
          підлітків віком 13-17 років у кожній з цих країн. 
        </p>
        <p>
          Мета дослідження — визначити рівень ключових загроз для добробуту
          дітей у світі. Ми опитали дорослих та підлітків, щоб дізнатися їхню
          думку стосовно безпеки у ключових вимірах дитячого життя й
          проаналізували актуальні виклики сьогодення для дітей.
        </p>
      </div>
      <ul class="study__infographlist">
        <li>
          <h3>75%</h3>
          <p>
            батьків вважають, що їхні діти стикаються з більшою кількістю
            загроз, ніж стикалися вони у своєму дитинстві
          </p>
        </li>
        <li>
          <h3>9 000</h3>
          <p>інтерв’ю проведено</p>
        </li>
        <li class="prpl">
          <h3>23%</h3>
          <p>дітей у світі напряму страждають від війни</p>
        </li>
        <li>
          <h3>15</h3>
          <p>країн світу</p>
        </li>
      </ul>
    </div>
    <div class="study__bottom">
      <a href="./img/pdf.zip" download="Summit 2023" class="program__download">
        <span>Результати дослідження</span>
      </a>
    </div>
  </div>
</div>
