<div class="insight__part">
  <div class="container">
    <div class="study__cont">
      <div class="study__heading flex">
        <h3>Key insights</h3>
        <a href="#" class="button sec">
          <span>Full Research</span>
        </a>
      </div>
      <div class="insight__content">
        <div class="insight__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <h5>Зростання цін</h5>
                <div class="insight__text">
                  Головна проблема для дітей і дорослих у 15 країнах. Діти також
                  турбуються про екологію та психічне здоров'я.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Вплив війни</h5>
                <div class="insight__text">
                  23% дітей страждають безпосередньо, 67% – відчувають
                  опосередкований вплив війни.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Небезпека в школі</h5>
                <div class="insight__text">
                  80% дітей зустрічаються з ситуаціями, що загрожують безпеці.
                  Найпоширеніші проблеми – булінг і насильство.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Шкідливий контент в інтернеті</h5>
                <div class="insight__text">
                  8 із 10 дітей знають про когось, хто зіткнувся з
                  дезінформацією, насильством або мовою ворожнечі онлайн.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Зростання цін</h5>
                <div class="insight__text">
                  Головна проблема для дітей і дорослих у 15 країнах. Діти також
                  турбуються про екологію та психічне здоров'я.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Вплив війни</h5>
                <div class="insight__text">
                  23% дітей страждають безпосередньо, 67% – відчувають
                  опосередкований вплив війни.
                </div>
              </li>
              <li class="splide__slide">
                <h5>Небезпека в школі</h5>
                <div class="insight__text">
                  80% дітей зустрічаються з ситуаціями, що загрожують безпеці.
                  Найпоширеніші проблеми – булінг і насильство.
                </div>
              </li>
            </ul>
          </div>
          <div class="splide__arrows flex bottom__arrows">
            <button class="splide__arrow prev splide__arrow--prev"></button>
            <button class="splide__arrow next splide__arrow--next"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="study__bottom">
      <a href="#" class="button sec">
        <span>Full Research</span>
      </a>
    </div>
  </div>
</div>
