<div class="partners__part">
  <div class="container">
    <div class="study__cont">
      <div class="study__heading flex">
        <h3>
          Дослідження було проведено Catalyse Research спільно <br />з BRAND
          UKRAINE за підтримки Дитячого фонду ООН (ЮНІСЕФ).
        </h3>
      </div>
      <div class="partners__content">
        <ul class="partners__list">
          <li class="partners__item">
            <img src="./img/icons/sup_1.png" alt="" />
            <a href="#" target="_blank"></a>
          </li>
          <li class="partners__item">
            <img src="./img/icons/sup_2.png" alt="" />
          </li>
          <li class="partners__item">
            <img src="./img/icons/sup_3.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
